* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #b5b2c2, #5a7d7c);
}

.calculatrice {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
}

.ecran {
  width: 100%;
  background-color: #dadff7;
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 25px;
  padding: 25px;
  border-radius: 25px;
}

.touches {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  grid-gap: 7px;
}

button {
  border: none;
  border-radius: 15px;
  outline: none;
  background: linear-gradient(90deg, #232c33, #a0c1d1);
  font-size: 18px;
  box-shadow: 0 3px #a8a8a8;
}

button:hover {
  border: none;
  border-radius: 15px;
  outline: none;
  background: linear-gradient(90deg, #a0c1d1, #232c33);
  font-size: 18px;
  box-shadow: 0 3px #a8a8a8;
}

button:active {
  box-shadow: 0 1px #a8a8a8;
  transform: translateY(2px);
}

button[data-key="13"] {
  grid-column: span 2;
  font-size: 35px;
  background: #478f33;
  font-weight: bold;
  color: white;
}

button[data-key="8"] {
  background: #e09728;
  font-weight: bold;
  color: white;
}
